.ipynb_checkpoints/
cleaned_data.csv
Customer Data Migration Analysis Using Pandas.docx
Email case study2.pptx
Email_Case_data_2020.csv
Row_header.xlsx
telus_customer_migration.pdf
telus_customer_migration.html
test.ipynb
